$color-primary: #03a8cb;
$color-grey: #828282;
$color-grey-light: #cccccc;
$color-grey-dark: #3b3e4a;

$bp-largest: 75em; //1200px
$bp-large: 68.75rem; //1100px
$bp-medium: 56.25rem; //900px
$bp-small: 41.75em; // 668px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 35%;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: $color-grey-dark;
  letter-spacing: 0.2rem;
  margin: 2.5rem 3rem;
  line-height: 1;

  @media only screen and (max-width: $bp-smallest) {
    margin: 1rem;
  }
}
